h3{
    font-weight: bold;
    text-align: left; 
    color: pink;
    text-shadow: rgb(0, 0, 0) 3px 5px 5px; 
}

h1{
    text-shadow: rgb(43, 41, 41) 4px 5px 5px;
    color:rgba(216, 37, 216, 0.99);
    font-weight: bolder;
    background-color: rgba(255, 169, 226, 0.7);
    border: 5px purple solid;
    border-radius: 12px;
}

.form-control::placeholder { 
    color: white;
}
input[type=text],
input[type=text]:focus{
    color: rgb(234, 230, 240);
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    margin-top: 16px;
    font-weight: 500;
    background: #ea94f1;
}
.todos li:hover{
    text-decoration: underline;
}
.check{
  cursor: pointer; /* changes the cursor type when hovering over the chek object in the list */
}

.add{
    text-shadow: rgb(26, 23, 23) 5px 5px 5px;
    color:rgba(241, 113, 192, 0.99); 
    font-weight: bold;  
    font-size: large;
}
.addSpan{
    font-size: larger;
    font-weight: bold;
    color: pink;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px; 
}

.container{
    max-width: 400px;
    background-blend-mode:overlay;
    border-radius: 10px;
    padding: 5px;
}

body{
    background-color: rgb(183, 255, 231);
    @media (max-width: 992px) {
        height: 75%;
        width: 5%;
        font-size: small;
        align-content: center;
        overflow-wrap: break-word;
    };
}

.bg-img{
    @media (max-width: 992px){
        height: 100vh;
    }
}

header{
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    
}

.filtered{
    display: none !important; /* the important tag is to ensure the hide function overwrrites whatever other display styles may have been applied elsewhere */
}